:host {
    display: block;
    width: 100%;
    height: 100%;
}

.registracija {
    display: flex;
    justify-content: center;
}

.registracija {
    margin-top: 5rem;
}

.matFormField {
    margin-right: 20px;
    width: 400px;
}

.matFormField2 {
    width: 820px;
}