<table>
    <tr>
        <td>Ime:</td>
        <td>
            <input type='text' [(ngModel)]='ime'>
        </td>
    </tr>
    <tr>
        <td>Prezime:</td>
        <td>
            <input type='text' [(ngModel)]='prezime'>
        </td>
    </tr>
    <tr>
        <td>Korisnicko ime:</td>
        <td>
            <input type='text' [(ngModel)]='korisnickoIme'>
        </td>
    </tr>
    <tr>
        <td>Lozinka:</td>
        <td>
            <input type='text' [(ngModel)]='lozinka'>
        </td>
    </tr>
    <tr>
        <td>Potvrda lozinke:</td>
        <td>
            <input type='text' [(ngModel)]='potvrdaLozinke'>
        </td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>
            <input type='text' [(ngModel)]='adresa'>
        </td>
    </tr>
    <tr>
        <td>Grad i drzava stanovanja:</td>
        <td>
            <input type='text' [(ngModel)]='gradDrzava'>
        </td>
    </tr>
    <tr>
        <td>Profilna slika:</td>
        <td>
            <button (click)='dodajSlike()'>Dodaj</button>
        </td>
    </tr>
    <tr>
        <td colspan='2'>
            <button (click)='registracija()'>Registracija</button>
        </td>
    </tr>
</table>
<div id='snackbar'>{{poruka}}</div>

