<mat-toolbar class='navbar' color='primary'>
    <div id='title'>Nekretnine</div>
    <div>
      <button mat-button class='menuButton' (click)='idiNaNekretnine()'>Nekretnine</button>
      <button mat-button class='menuButton' (click)='idiNaPrijavu()'>Prijava</button>
      <button mat-button class='menuButton' (click)='idiNaRegistraciju()'>Registracija</button>
    </div>
  </mat-toolbar>
<div class='prijava'>
    <table>
        <tr>
            <td>
                <mat-form-field class='matFormField' appearance='outline'>
                    <mat-label>Korisnicko ime</mat-label>
                    <input matInput type='text' [(ngModel)]='korisnickoIme'>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class='matFormField' appearance='outline'>
                    <mat-label>Lozinka</mat-label>
                    <input matInput type='password' [(ngModel)]='lozinka'>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class='matFormField' appearance='outline'>
                    <mat-label>Tip korisnika</mat-label>
                    <mat-select [(ngModel)]='tip'>
                        <mat-option value='registrovani korisnik'>registrovani korisnik</mat-option>
                        <mat-option value='radnik agencije'>radnik agencije</mat-option>
                        <mat-option value='administrator'>administrator</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td colspan='2'>
                <button class='matFormField' mat-raised-button color='primary' (click)='prijava()'>Prijavi se</button>
            </td>
        </tr>
    </table>
</div>