<table>
    <tr>
        <td>
            <mat-form-field class='matFormField2' appearance='outline'>
                <mat-label>Procenat za prodaju</mat-label>
                <input matInput type='number' [(ngModel)]='procenatZaProdaju'>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field class='matFormField2' appearance='outline'>
                <mat-label>Procenat za izdavanje</mat-label>
                <input matInput type='number' [(ngModel)]='procenatZaIzdavanje'>
            </mat-form-field>
        </td>
    </tr>
</table>
<button mat-raised-button color='primary' (click)='definisi()'>Definisi</button>
