<mat-sidenav-container>
    <mat-sidenav mode='side' opened>
        <a mat-button routerLink='pregledNekretnina'>Nekretnine</a>
        <a mat-button routerLink='pregledMojihNekretnina'>Moje nekretnine</a>
        <a mat-button routerLink='pregledPonuda'>Ponude</a>
        <a mat-button routerLink='dodavanjeNekretnine'>Dodavanje nove nekretnine</a>
        <a mat-button routerLink='promenaLozinke'>Promena lozinke</a>
        <br>
        <button mat-button (click)='odjaviSe()'>Odjavi se</button>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
