<div *ngIf='zahtevi != null && zahtevi.length != 0; else nemaZahteva'>
  <table mat-table [dataSource]="zahtevi" class="mat-elevation-z8">
      <ng-container matColumnDef="slika">
        <th mat-header-cell *matHeaderCellDef>Slika</th>
        <td mat-cell *matCellDef="let zahtev">
            <img src={{zahtev.slika}} height='50px' width='50px'>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="ime">
        <th mat-header-cell *matHeaderCellDef>Ime</th>
        <td mat-cell *matCellDef="let zahtev">{{zahtev.ime}}</td>
      </ng-container>
    
      <ng-container matColumnDef="prezime">
        <th mat-header-cell *matHeaderCellDef>Prezime</th>
        <td mat-cell *matCellDef="let zahtev"> {{zahtev.prezime}} </td>
      </ng-container>
    
      <ng-container matColumnDef="korisnickoIme">
        <th mat-header-cell *matHeaderCellDef>Korisnicko ime</th>
        <td mat-cell *matCellDef="let zahtev"> {{zahtev.korisnickoIme}} </td>
      </ng-container>

      <ng-container matColumnDef="lozinka">
          <th mat-header-cell *matHeaderCellDef>Lozinka</th>
          <td mat-cell *matCellDef="let zahtev"> {{zahtev.lozinka}} </td>
        </ng-container>

        <ng-container matColumnDef="adresa">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let zahtev"> {{zahtev.adresa}} </td>
        </ng-container>

        <ng-container matColumnDef="gradDrzava">
          <th mat-header-cell *matHeaderCellDef>Grad i drzava stanovanja</th>
          <td mat-cell *matCellDef="let zahtev"> {{zahtev.gradDrzava}} </td>
        </ng-container>

        <ng-container matColumnDef="prihvati">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let zahtev">
            <button mat-raised-button color='primary' (click)='prihvati(zahtev)'>Prihvati</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="odbij">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let zahtev">
            <button mat-raised-button color='primary' (click)='odbij(zahtev)'>Odbij</button>
          </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="kolone"></tr>
      <tr mat-row *matRowDef="let row; columns: kolone;"></tr>
  </table>
</div>
<ng-template #nemaZahteva>
  Nema zahteva za registraciju.
</ng-template>