<table>
    <tr>
        <td colspan='3'>
            <mat-form-field class='matFormField' appearance='outline'>
                <mat-label>Naziv</mat-label>
                <input matInput type='text' [(ngModel)]='naziv'>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field class='matFormField' appearance='outline'>
                <mat-label>Adresa</mat-label>
                <input matInput type='text' [(ngModel)]='adresa'>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance='outline'>
                <mat-label>Opstina</mat-label>
                <input matInput type='text' [(ngModel)]='opstina'>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance='outline'>
                <mat-label>Grad</mat-label>
                <input matInput type='text' [(ngModel)]='grad'>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td colspan='3'>
            <mat-radio-group class='matFormField' [(ngModel)]='tipNekretnine'>
                <mat-radio-button labelPosition='before' value='kuca'>Kuca</mat-radio-button>
                <mat-radio-button labelPosition='before' value='stan'>Stan</mat-radio-button>
            </mat-radio-group>
        </td>
    </tr>
    <tr>
        <td colspan='3'>
            <mat-form-field class='matFormField' appearance='outline'>
                <mat-label>Broj spratova</mat-label>
                <input matInput type='text' [(ngModel)]='brojSpratova'>
            </mat-form-field>
        </td>
    </tr>
    <tr *ngIf="tipNekretnine == 'stan'">
        <td colspan='3'>
            <mat-form-field appearance='outline'>
                <mat-label>Sprat</mat-label>
                <input matInput type='text' [(ngModel)]='sprat'>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td colspan='3'>
            <mat-form-field class='matFormField' appearance='outline'>
                <mat-label>Kvadratura</mat-label>
                <input matInput type='number' [(ngModel)]='povrsina'>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td colspan='3'>
            <mat-form-field class='matFormField' appearance='outline'>
                <mat-label>Broj soba</mat-label>
                <input matInput type='text' [(ngModel)]='brojSoba'>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td colspan='3'>
            <mat-checkbox class='matFormField' labelPosition='before' [(ngModel)]='namestena'>
                Namestena
            </mat-checkbox>
        </td>
    </tr>
    <tr>
        <td colspan='3'>
            <mat-radio-group class='matFormField' [(ngModel)]='tipOglasa'>
                <mat-radio-button labelPosition='before' value='Izdavanje'>Izdavanje</mat-radio-button>
                <mat-radio-button labelPosition='before' value='Prodaja'>Prodaja</mat-radio-button>
            </mat-radio-group>
        </td>
    </tr>
    <tr>
        <td colspan='3'>
            <mat-form-field class='matFormField' appearance='outline'>
                <mat-label>Cena</mat-label>
                <input matInput type='number' [(ngModel)]='cena'>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td colspan='3'>
            <input type='file' name='slike' multiple (change)='odaberiSlike($event)'>
        </td>
    </tr>
    <tr>
        <td colspan='3'>
            <button mat-raised-button color='primary' class='matButton' (click)='azurirajNekretninu()'>Azuriraj</button>
        </td>
    </tr>
</table>
<div id='snackbar'>{{poruka}}</div>