<div *ngIf='ponude != null && ponude.length != 0; else nemaPonuda'>
    <table mat-table [dataSource]="ponude" class="mat-elevation-z8">

        <ng-container matColumnDef="nekretnina">
            <th mat-header-cell *matHeaderCellDef>Nekretnina</th>
            <td mat-cell *matCellDef="let ponuda">{{ponuda.nazivNekretnine}}</td>
        </ng-container>
    
        <ng-container matColumnDef="cena">
            <th mat-header-cell *matHeaderCellDef>Cena</th>
            <td mat-cell *matCellDef="let ponuda">{{ponuda.cena}}</td>
        </ng-container>
    
        <ng-container matColumnDef="ponudjac">
            <th mat-header-cell *matHeaderCellDef>Prezime</th>
            <td mat-cell *matCellDef="let ponuda"> {{ponuda.ponudjac}} </td>
        </ng-container>
    
        <ng-container matColumnDef="prihvati">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let ponuda"> 
                <button mat-raised-button color='primary' (click)='prihvatiPonudu(ponuda)'>Prihvati</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="odbij">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let ponuda"> 
                <button mat-raised-button color='primary' (click)='odbijPonudu(ponuda)'>Odbij</button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="kolone"></tr>
        <tr mat-row *matRowDef="let row; columns: kolone;"></tr>
    </table>
</div>
<ng-template #nemaPonuda>
    Nema ponuda.
</ng-template>

