<table>
    <tr>
        <td>
            <mat-form-field class='matFormField2' appearance='outline'>
                <mat-label>Ime</mat-label>
                <input matInput type='text' [(ngModel)]='ime'>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field class='matFormField2' appearance='outline'>
                <mat-label>Prezime</mat-label>
                <input matInput type='text' [(ngModel)]='prezime'>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field class='matFormField2' appearance='outline'>
                <mat-label>Korisnicko ime</mat-label>
                <input matInput type='text' [(ngModel)]='korisnickoIme'>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <input type='file' name='slike' (change)='odaberiSliku($event)'>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field class='matFormField2' appearance='outline'>
                <mat-label>Email</mat-label>
                <input matInput type='text' [(ngModel)]='adresa'>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field class='matFormField2' appearance='outline'>
                <mat-label>Grad i drzava stanovanja</mat-label>
                <input matInput type='text' [(ngModel)]='gradDrzava'>
            </mat-form-field>
        </td>
    </tr>
</table>
<button mat-raised-button color='primary' (click)='azuriraj()'>Azuriraj</button>
