<table>
    <tr>
        <td>Ime:</td>
        <td>{{korisnik.ime}}</td>
        <td>
            <input type='text' [(ngModel)]='ime'>
        </td>
    </tr>
    <tr>
        <td>Prezime:</td>
        <td>{{korisnik.prezime}}</td>
        <td>
            <input type='text' [(ngModel)]='prezime'>
        </td>
    </tr>
    <tr>
        <td>Korisnicko ime:</td>
        <td>{{korisnik.korisnickoIme}}</td>
        <td>
            <input type='text' [(ngModel)]='korisnickoIme'>
        </td>
    </tr>
    <tr>
        <td>Lozinka:</td>
        <td>{{korisnik.lozinka}}</td>
        <td>
            <input type='text' [(ngModel)]='lozinka'>
        </td>
    </tr>
    <tr>
        <td>Slika:</td>
        <td>{{korisnik.slika}}</td>
        <td>
            <input type='text' [(ngModel)]='slika'>
        </td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{korisnik.adresa}}</td>
        <td>
            <input type='text' [(ngModel)]='adresa'>
        </td>
    </tr>
    <tr>
        <td>Grad i drzava stanovanja:</td>
        <td>{{korisnik.gradDrzava}}</td>
        <td>
            <input type='text' [(ngModel)]='gradDrzava'>
        </td>
    </tr>
</table>
<button (click)='nazad()'>Nazad</button>
<button (click)='azuriraj()'>Azuriraj</button>
