<mat-toolbar class='navbar' color='primary'>
    <div id='title'>Nekretnine</div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav style='display: block' mode='side' opened>
        <a mat-button routerLink='pregledZahtevaZaRegistraciju' routerLinkActive='active-link'>Zahtevi za registraciju</a><br>
        <a mat-button routerLink='pregledKorisnikaSistema' routerLinkActive='active-link'>Korisnici sistema</a><br>
        <a mat-button routerLink='pregledNekretnina'>Nekretnine</a><br>
        <a mat-button routerLink='pregledPonuda'>Ponude</a><br>
        <a mat-button routerLink='procenatAgencije'>Procenat agencije</a><br>
        <a mat-button routerLink='ugovoreneProdaje'>Ugovorene prodaje</a><br>
        <a mat-button routerLink='grafickiPrikazNekretnina'>Graficki prikaz nekretnina</a><br>
        <a mat-button routerLink='dodavanjeNovogKorisnika'>Dodavanje novog korisnika</a><br>
        <a mat-button routerLink='dodavanjeNekretnine'>Dodavanje nove nekretnine</a><br>
        <a mat-button routerLink='promenaLozinke'>Promena lozinke</a><br>
        <button mat-button (click)='odjaviSe()'>Odjavi se</button>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
