:host {
    display: block;
    width: 70%;
}

mat-sidenav-container {
    height:100%;
}

mat-sidenav {
    padding-top: 16px;
}

mat-sidenav-content {
    padding: 16px;
}

mat-sidenav {
    background-color: lightgray;
    width:200px;
}

button {
    margin-left: 0px;
}